* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1460px;
  margin: auto;
}

body,
main {
  background-color: #FFFBED;
  color: #372E11;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-rendering: optimizeSpeed;
}

body {
  --nav-vertical-size: 100px;
}

a, .button {
  text-decoration: none;
  color: #372E11;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}
a:hover, .button:hover {
  opacity: 0.8;
}

li {
  list-style: none;
  padding-left: 0;
}

.header {
  height: var(--nav-vertical-size);
  background-position: center 0;
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.header__nav .menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__action .action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__action .action__item {
  padding: 0 30px;
}
.header__action .action__phone {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 23px;
}
.header__action .action__lang {
  display: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-left: 20px;
}
.header__action .action__lang_unactive {
  color: #9B9B99;
}
.header__action .action__burger {
  display: none;
  padding: 0;
  z-index: 30;
}
.header__action .action__signin {
  margin-left: 25px;
}
.header__action .action__register {
  padding: 12px 28px;
  gap: 8px;
  width: 202px;
  height: 49px;
  border: 1px solid #000000;
  border-radius: 12px;
  margin-left: 10px;
}
.header__action .burger-menu {
  display: none;
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 0;
  z-index: 20;
  background-color: #FFE182;
  color: #372E11;
  overflow-y: auto;
  right: -100%;
  transition: 0.8s;
  padding-top: 120px;
}
.header__action .burger-menu_active {
  right: 0;
}
.header__action .burger-menu__link {
  padding: 23px 60px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 1px solid #fff;
}

@media (max-width: 1024px) {
  .header {
    background-image: none;
  }
  .header__nav {
    display: none;
  }
  .header__action .action__lang {
    display: block;
    padding: 0 8px;
    margin-left: 20px;
  }
  .header__action .action__signin {
    margin-left: 20px;
  }
  .header__action .action__register {
    display: none;
  }
  .header__action .action__burger {
    display: block;
    margin-top: 4px;
    margin-left: 20px;
  }
}
@media (max-width: 525px) {
  .logo__image {
    width: 48px;
    height: 42px;
  }
  .header {
    background-image: none;
    font-size: 16px;
    line-height: 19px;
    height: auto;
  }
  .header__container {
    padding: 4px 20px;
  }
  .header__nav {
    display: none;
  }
  .header__action .action__phone {
    font-size: 16px;
    line-height: 19px;
    margin-left: 10px;
    padding: 8px;
  }
  .header__action .action__lang {
    font-size: 16px;
    line-height: 19px;
    margin-left: 10px;
    padding: 8px;
  }
  .header__action .action__burger {
    margin-left: 10px;
  }
  .header__action .action__burger .burger__logo {
    width: 30px;
  }
  .header__action .action__signin {
    display: none;
  }
}
@media (max-width: 359px) {
  .header__container {
    padding: 4px 16px;
  }
  .header__action .action__item {
    padding: 8px 5px;
    margin-left: 0;
  }
}
.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  text-align: center;
  min-height: 980px;
  background-position: center calc(-1 * var(--nav-vertical-size));
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-banner__heading {
  font-family: "Marmelad", sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 67px;
}
.main-banner__heading_small {
  display: none;
}
.main-banner__subtitle {
  font-weight: 300;
  font-size: 26px;
  line-height: 31px;
  max-width: 700px;
  margin: 42px auto;
}
.main-banner__container {
  max-width: 887px;
  margin-top: 192px;
}
.main-banner__buttons {
  display: inline-flex;
  margin-top: 15px;
}
.main-banner__button {
  padding: 22px 34px;
  font-weight: 600;
  border-radius: 12px;
}

.button__sell {
  background-color: #FFE182;
  margin-right: 20px;
}
.button__buy {
  background-color: #EDEDED;
  padding: 24px 42px;
}

@media (max-width: 1920px) {
  .main-banner {
    background-size: auto;
  }
}
@media (max-width: 1024px) {
  .main-banner {
    background-image: url("../img/banner_ipad.png");
    background-size: cover;
    background-position: center 100%;
    min-height: 923px;
    padding: 0 20px;
  }
  .main-banner__container {
    margin-top: 86px;
  }
}
@media (max-width: 525px) {
  .main-banner {
    margin-top: -20px;
    background-position: center 0;
    background-size: cover;
    min-height: 532px;
  }
  .main-banner__container {
    margin-top: 116px;
  }
  .main-banner__heading {
    font-size: 24px;
    line-height: 29px;
    display: none;
  }
  .main-banner__heading_small {
    display: inline-block;
  }
  .main-banner__subtitle {
    font-size: 16px;
    line-height: 19px;
    margin: 24px 0;
  }
  .main-banner__buttons {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 16px;
    line-height: 19px;
  }
  .button__sell {
    padding: 12px 13px;
    margin-right: 0;
  }
  .button__buy {
    padding: 12px 7px;
    margin-right: 0;
  }
}
@media (max-width: 424px) {
  .main-banner {
    background-image: url("../img/banner_mobile.png");
  }
}
@media (max-width: 359px) {
  .main-banner {
    padding: 0 8px;
  }
  .button__sell, .button__buy {
    padding: 12px 6px;
    margin: 0;
  }
}
.register {
  background-image: url("../img/form_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
}
.register__container {
  max-width: 1140px;
  min-height: 700px;
  padding: 80px;
  background-image: url("../img/form.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #FFFBED;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 80px;
}
.register__text {
  max-width: 580px;
}
.register__heading {
  font-family: "Marmelad";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
}
.register__subtitle {
  font-weight: 400;
  margin-top: 40px;
}
.register__form {
  width: 100%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.form__part {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.form__part:first-child {
  margin-top: 0px;
}
.form__second .form__phone {
  margin-top: 20px;
}
.form__input {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 16px 6px;
  max-width: 320px;
  height: 48px;
  background: #FFF8E1;
  color: #8E825C;
  border-radius: 6px;
  outline: none;
  border: none;
}
.form__button {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  padding: 16px 40px;
  max-width: 320px;
  background: #FFE182;
  border-radius: 12px;
  border: none;
  width: 100%;
  margin-top: 40px;
}

.error {
  color: red;
}

@media (max-width: 1024px) {
  .register {
    background-image: url("../img/form_bg_ipad.jpg");
    padding: 40px;
  }
  .register__container {
    min-height: 637px;
    padding: 32px;
    gap: 58px;
    background-image: none;
    flex-direction: column;
  }
  .register__text {
    max-width: 624px;
  }
  .register__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
  .form__first, .form__second {
    width: 100%;
  }
  .form__second .form__phone {
    margin-top: 0px;
  }
}
@media (max-width: 525px) {
  .register {
    background-image: url("../img/form_bg_mobile.jpg");
    padding: 20px;
  }
  .register__container {
    padding: 20px;
    gap: 32px;
  }
  .register__heading {
    font-size: 24px;
    line-height: 29px;
  }
  .register__subtitle {
    margin-top: 32px;
    font-size: 16px;
    line-height: 19px;
  }
  .register__form {
    gap: 20px;
  }
  .form {
    flex-direction: column;
  }
}
.footer {
  background-color: #372E11;
  color: #FFFBED;
}
.footer__container {
  padding: 80px 20px;
  display: grid;
  grid-template: "a b c";
  justify-content: space-between;
}
.footer__link {
  color: #FFFBED;
}
.footer__heading {
  font-family: "Marmelad";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.footer__copyright {
  display: none;
}

.offices {
  grid-area: a;
}
.offices__text {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 24px;
}
.offices__moscow, .offices__rostov {
  max-width: 275px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.social {
  grid-area: b;
}
.social__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.contact-us {
  grid-area: c;
}
.contact-us__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-top: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}
.contact-us__phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.contact-us__button {
  max-width: 172px;
  width: 100%;
  color: #372E11;
  background: #FFE182;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 32px;
  border-radius: 12px;
}
.contact-us__button .button__text {
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .footer__container {
    grid-template: "a c" "b ." "d .";
    grid-template-columns: 1fr 247px;
    padding: 32px 24px;
  }
  .footer__copyright {
    grid-area: d;
    display: block;
    margin-top: 48px;
    color: #B9B3B3;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .offices {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .offices__text {
    flex-direction: column;
    gap: 16px;
  }
  .social {
    margin-top: 48px;
  }
  .contact-us {
    width: 100%;
    max-width: 247px;
  }
  .contact-us__button {
    max-width: 247px;
  }
}
@media (max-width: 525px) {
  .footer__container {
    grid-template: "a a ." "b b ." "c c ." "d d .";
    padding: 32px 20px;
  }
  .offices__text {
    gap: 16px;
  }
  .contact-us {
    margin-top: 48px;
  }
  .contact-us__button {
    max-width: 172px;
  }
}/*# sourceMappingURL=style.css.map */