
// HEADER
.header {
    height: var(--nav-vertical-size);
    background-position: center 0;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    &__nav .menu {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__action .action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &__item {
            padding: 0 30px;
        }

        &__phone {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            line-height: 23px;
        }
    
        &__lang {
            display: none;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            margin-left: 20px;
    
            &_unactive {
                color: $secondary;
            }
        }
        
        &__burger {
            display: none;
            padding: 0;
            z-index: 30;
        }

        &__signin {
            margin-left: 25px;
        }
    
        &__register {
            padding: 12px 28px;
            gap: 8px;
            width: 202px;
            height: 49px;
            border: 1px solid #000000;
            border-radius: 12px;
            margin-left: 10px;
        }    
    }

    &__action .burger-menu {
        display: none;
        display: flex;
        flex-flow: column;
        position: fixed;
        top: 0;
        z-index: 20;
        background-color: $yellow;
        color: $brown;
        overflow-y: auto;
        right: -100%;
        -webkit-transition: 0.8s;
        -moz-transition: 0.8s;
        -o-transition: 0.8s;
        transition: 0.8s;
        padding-top: 120px;

        &_active {
            right: 0;
        }

        &__link {
            padding: 23px 60px;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            text-decoration: none;
            font-weight: 400;
            border-bottom: 1px solid #fff;
        }
    }
}


@media (max-width: 1024px) {
    .header {
        background-image: none;

        &__nav {
            display: none;
        }

        &__action .action {

            &__lang {
                display: block;
                padding: 0 8px;
                margin-left: 20px;
            }
    
            &__signin {
                margin-left: 20px;
            }
    
            &__register {
                display: none;
            }
    
            &__burger {
                display: block;
                margin-top: 4px;
                margin-left: 20px;
            }
        }
    }
}

@media (max-width: 525px) {

    .logo__image {
        width: 48px;
        height: 42px;
    }

    .header {
        background-image: none;
        font-size: 16px;
        line-height: 19px;
        height: auto;

        &__container {
            padding: 4px 20px;           
        }

        &__nav {
            display: none;
        }

        &__action .action {
            &__phone {
                font-size: 16px;
                line-height: 19px;
                margin-left: 10px;
                padding: 8px;
            }
            &__lang {
                font-size: 16px;
                line-height: 19px;
                margin-left: 10px;
                padding: 8px;
            }
            &__burger {
                
                margin-left: 10px;
                & .burger__logo {
                    width: 30px;
                }
            }
    
            &__signin {
                display: none;
            }
        }
    }
}

@media (max-width: 359px) {

    .header {
        &__container {
            padding: 4px 16px;
        }

        &__action .action {

            &__item {
                padding: 8px 5px;
                margin-left: 0;
            }
        }
    }
}
